<div>

    <h1>Bienvenido, {{getPrototypeProperty user "firstName"}} {{getPrototypeProperty user "lastName"}}</h1>

    <section>
        <a href="/profile">{{getPrototypeProperty user "email"}}</a>
        <a href="/api/sessions/logout">LOGOUT</a>
    </section>

    <h2>Products</h2>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{#if paginateInfo.hasPrevPage}}
                <li class="page-item">
                    <a class="page-link" href="{{paginateInfo.prevLink}}">Previous</a>
                </li>
            {{/if}}
            {{#each paginateInfo.totalPages}}
                <li class="page-item">
                    <a class="page-link" href="{{this.link}}">{{this.page}}</a>
                </li>
            {{/each}}
            <li class="page-item">
                <a class="page-link" href="{{paginateInfo.nextLink}}">Next</a>
            </li>
        </ul>
    </nav>

    <table class="table table-hover">
        <tr>
            <td></td>
            <td>Titulo</td>
            <td>Descripción</td>
            <td>Precio</td>
            <td>Codigo</td>
            <td>Categoría</td>
            <td>Stock</td>
        </tr>
        {{#each products}}
        <tr>
            <td><button type="button" class="btn btn-success" onclick="addProductToCart('{{this._id}}', '{{user.cart}}')">Añadir</button></td>
            <td>{{ this.title }}</td>
            <td>{{ this.description }}</td>
            <td>{{ this.price }}</td>
            <td>{{ this.code }}</td>
            <td>{{ this.category }}</td>
            <td>{{ this.stock }}</td>
        </tr>
        {{/each}}
    </table>
</div>

<script>
    console.log("User in Handlebars:", {
    _id: '{{getPrototypeProperty user "_id"}}',
    firstName: '{{getPrototypeProperty user "firstName"}}',
    lastName: '{{getPrototypeProperty user "lastName"}}',
    email: '{{getPrototypeProperty user "email"}}',
    age: '{{getPrototypeProperty user "age"}}',
    password: '{{getPrototypeProperty user "password"}}',
    cart: '{{getPrototypeProperty user "cart"}}',
    role: '{{getPrototypeProperty user "role"}}',

});


    addProductToCart = (pid) => {
        console.log(pid)
        const cid = '{{getPrototypeProperty user "cart"}}';
        console.log(cid)
        fetch(`/api/cart/${cid}/product/${pid}`, {
            method: 'post'
        })
        .then(result => {
            console.log("Respuesta del servidor:", result)})
        .then(result => result.json())
        .then(result => {
            if (result.status === 'error') throw new Error(result.error)
            alert(`Ok. Todo salió bien! :)\nEl producto se agregó al carrito con id=${result.payload._id}!`)
        })
        .catch(err => {
            console.log(`Ocurrió un error :(\n${err}`)
        })
    }
</script>
